.container-price {
    display: block;
    text-align: center;
}

.promo-text-marca {
    vertical-align: middle;
    color: #0000ff;
    font-weight: bold;
    font-size: 16px;
}

.real-price, .real-price-marca {
    color: #8243d8;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    filter: blur(0.55px);
}

.discount-price, .discount-price-marca {
    display: grid;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    line-height: 80%;
}

.discount-price-marca {
    color: #333;
}

.temporizador-descuento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-container-especial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 auto;
    border-radius: 5px;
    gap: 10px;
}

.infoElement {
    font-weight: 400;
    font-size: 16px;
    color: #0000ff;
}